page-follows {
  .roundProfile{
    background-position: center;
    background-size: cover;
    height: 48px;
    width: 48px;
    margin-top: 10px;
    margin-left: -13px;
    float: left;
    border-radius: 50%;
  }
}
