page-profile {
  .backpic{
    height: 50%;
  }

  .badge-container {
    position: relative;
  }

  .custom-badge {
    position:absolute;
    top:5px;
    left:15px;
    background: map-get($colors, danger);
    border-radius: 100%;
    color: #fff;
    font-size: 12px !important;
    padding: 4px;
    font-weight: bold;
  }
  .tweetEntry-avatar {
    float: left;
    height: 48px;
    width: 48px;
    margin-top: 5px;
    margin-left: -55px;
    border-radius: 50px;


  }
  .tweetEntry-tweetHolder {
    border-top: 1px solid #e1e8ed;
    width: 388px;
    margin: auto;
    border-radius: 5px;

  }
  .avatar {
    border-radius: 100%;
    position: absolute;
    width: 80px;
    height: 80px;
  }

  .roundProfile{
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 80px;
    height: 80px;
    margin-left: -5px;
    border-radius: 100%;
  }
  .roundProfile2{
    float: left;
    height: 48px;
    width: 48px;
    margin-top: 5px;
    margin-left: -55px;
    border-radius: 50px;
    background-position: center;
    background-size: cover;


  }
  .info {
    padding-top: 4px;
  }

  /* Profile edit button */
  .edit-button {
    background: #fff;
    border: 1px solid #ccc;
    font-size: 13px;
    border-radius: 3px;
    padding: 5px;
    font-weight: bold;
    width: 90%;
    margin-right: 30px;
  }

  .edit-button:active {
    border-color: #dce2ed;
  }
  .follow2{
    background: #fff;
    border: 1px solid #ccc;
    font-size: 10.2px;
    border-radius: 3px;
    padding: 5px;
    font-weight: bold;
    margin-right: 30px;
    width: 33%;
  }

}
