page-notification {
  .post-small-img {
    width: 40px;
    float: right;
  }
  .roundProfile{
    background-position: center;
    background-size: cover;
    height: 48px;
    width: 48px;

    margin-left: -2%;
    float: left;
    border-radius: 50%;
  }
}
