<ion-header>
  <ion-navbar>

    <button left ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title center>Messaging</ion-title>

    <ion-buttons right="">
      <button clear ion-button  (click)="goSearch()" small icon-only="" item-right=""><ion-icon name="md-add"></ion-icon></button>
    </ion-buttons>

  </ion-navbar>

</ion-header>



<ion-content class="messagebox" padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content ></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngFor="let message of lastMessageList;let i = index;">

    <ion-item-sliding>

      <ion-item class="item-style" (click)="startChat(message.uid,(message)?.profilePicURL)">
        <ion-avatar  item-start >
          <div class="roundProfile" [style.backgroundImage]="'url('+(message)?.profilePicURL+')'"></div>
        </ion-avatar>
        <span *ngIf="ownUsername != message.receivername">{{ message.receivername }}</span>
        <span *ngIf="ownUsername == message.receivername">{{ message.sendername }}</span>
        <p>{{ message.message }}</p>
        <p item-right="">{{ message.timestamp | date: 'HH:mm' }}</p>
      </ion-item>

      <ion-item-options side="right">
        <button (click)="presentConfirm(message.uid)" ion-button color="danger" outline>
          <ion-icon  style="zoom:1.75 " name="trash">
          </ion-icon>
        </button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

</ion-content>
